body {
  margin: 0;
  padding: 0;
}
.tela-inicial {
  width: 100%;
  height: 100vh;
  background: #D1A562;
  text-align: center;
}

.logo {
  width: 60%;
}

.iniciar {
  background: saddlebrown;
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 150px;
  border: 3px solid #000000;
  padding: 5px 10px 5px 10px;
}

.tela-pergunta {
  width: 100%;
  height: 100vh;
  background: #D1A562;
  text-align: center;
}

.cerebro {
  width: 40%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.pergunta {
  margin-bottom: 130px;
  background-color: #5D4000;
  color: #FFFFFF;
  width: 80%;
  margin-left: 50px;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  
}

.botao {
  width: 200px;
  height: 40px;
  margin-right: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  border: 2px solid saddlebrown;
  font-weight: bold;
}

.botao:active {
  background: #8D6612;
  color: #8D6612;
}

.tela-acertou {
  background: #D1A562;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.tela-errou {
  background: #D1A562;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.correto {
  width: 80%;
  
}

.errado {
  width: 80%;
}

.tela-final {
  background: #D1A562;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.final {
  width: 99%;
}